{% extends "base.html" %}
{% load account socialaccount %}
{% providers_media_js %}
{% get_providers as socialaccount_providers %}
{% get_social_accounts user as accounts %}

{% block head_title %}User Profile{% endblock head_title %}

{% block body %}
    <br><br>
    <div class="container d-flex justify-content-center align-items-center">
    <div class="card">
      <div class="card-body">
        <a href="{% provider_login_url "twitter" process="connect" %}">Connect a Twitter account</a>
        <br>
        <span> User: {{ user.username }} </span>
        <br>
        <span> E-mail: {{ user.email }} </span>
        <br>
        <span>{{ socialaccount_providers }}</span>
        <br>
        {% if accounts %}
        <span>{{accounts.twitter}}</span>
        {% endif %}
      </div>
    </div>
    </div>
{% endblock body %}