{% extends "vencode_results.html" %}
{% load static %}

{% block head_title %}VEnCodes e-values{% endblock head_title %}

{% block stylesheets %}
<link href="{%  static "css/bootstrap-table.min.css" %}" rel="stylesheet">
{{ block.super }}
{% endblock stylesheets %}

{% block content2 %}
    {% autoescape off %}
    <div class="container-fluid">
    <table
            data-buttons-class = "elegant-color"
            data-toggle="table"
            data-pagination="false"
            data-thead-classes="thead-dark"
            data-show-toggle="true"
            data-show-fullscreen="false"
            data-show-columns="true"
            data-show-columns-toggle-all="true"
            data-show-export="true"
            data-show-pagination-switch="false"
            data-page-list="[10, 25, 50, 100, all]"
            data-show-footer="true"
    >
    <thead>
        <tr>
          <th>VEnCode</th>
          <th>e-value</th>
        </tr>
    </thead>
        <tbody>
            {% for re, e in e_values.items %}
                <tr>
                    <td>{{ re }}</td>
                    <td>{{ e }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    {% endautoescape %}
{% endblock content2 %}

{% block scriptsbody %}
{{ block.super }}
<script src="{%  static "js/tableExport.min.js" %}"></script>
<script src="{%  static "js/bootstrap-table.min.js" %}"></script>
<script src="{%  static "js/bootstrap-table-export.min.js" %}"></script>
{% endblock scriptsbody %}