{% extends "base.html" %}
{% load static %}
{% block head_title %}DataFrame{% endblock head_title%}

{% block stylesheets %}
<link href="{%  static "css/bootstrap-table.min.css" %}" rel="stylesheet">
{{ block.super }}
{% endblock stylesheets %}

{% block body %}
{% autoescape off %}
    <div>
    <table
        data-toggle="table"
        data-pagination="true"
        data-thead-classes="thead-dark"
        data-show-toggle="true"
        data-show-fullscreen="true"
        data-show-columns="true"
        data-show-columns-toggle-all="true"
        data-show-export="true"
        data-show-pagination-switch="true"
        data-pagination="true"
        data-page-list="[10, 25, 50, 100, all]"
        data-show-footer="true"
    >
   {{ html_table }}
    </table>
    </div>
{% endautoescape %}
{% endblock body %}

{% block scriptsbody %}
{{ block.super }}
<script src="{%  static "js/tableExport.min.js" %}"></script>
<script src="{%  static "js/bootstrap-table.min.js" %}"></script>
<script src="{%  static "js/bootstrap-table-export.min.js" %}"></script>
{% endblock scriptsbody %}