{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %}Choose Parameters - Your own Data{% endblock head_title %}

{% block content %}
    <br>
    <div class="container d-flex justify-content-center align-items-center">
        <div class="card">
          <div class="card-body">
              <!-- Title -->
              <h4 class="card-title"><a>Settings</a></h4>

              <form enctype="multipart/form-data" action="{% url 'upload_ven' %}" method="post">
                  {% csrf_token %}
                  {{ form|crispy }}
                  <input class="btn btn-elegant" type="submit" value="Submit">
              </form>
          </div>
        </div>
    </div>
{% endblock content %}