.idea/.gitignore
.idea/VEnCode_Django.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
venv/
/VEnCode_Django/old_settings.py
VEnCode_Django/__pycache__/
VEnCode_Django/settings/__pycache__/
__pycache__/
users/__pycache__/
users/migrations/__pycache__/
vencode/__pycache__/
vencode/migrations/__pycache__/
/vencode_bu
/.env
data/
/.idea/dictionaries/Linki_000.xml
.idea/dataSources.xml
/.idea/dataSources.xml
