{% extends "base.html" %}
{%  block content %}

<head>
    <meta charset="UTF-8">
    <title>VEnCode App</title>
    <style>
    body {background-color: white}
    h1 {color: #100070;
        font-family: Times New Roman,serif;
        font-size: 2em
    }
    h2 {color: #1a00b5;
        font-family: Times New Roman,serif;
        font-size: 1.5em
    }
    p {color: midnightblue}
    </style>
</head>

 <div class="container">
     <br>
     <br>
     <br>
     <h1>Welcome to the VEnCode Website</h1>
     <hr>
     <div class="caption" role="alert">
         <h2>Here you can find, retrieve and rank VEnCodes</h2>
     </div>
 </div>
<br>
<br>
<br>
<body>
    <p><strong>Oh, you are wondering what year we are on? It's {{ date }}. You are welcome.</strong></p>
</body>
<br>
<div class="btn-group" role="group" aria-label="Basic example">
    <a href="{% url 'index' %}" class="btn btn-success">Index</a>
</div>
{% endblock %}